<div class="wrap">
  <nb-card *ngFor="let item of projects | async" status="success" class="card">
    <nb-card-header>
      {{ item.projectName }}
    </nb-card-header>
    <nb-card-body>
      <p>budget: {{ item.budget | currency }}</p>
      <p>due date: {{ item.due.toDate() | date }}</p>
      <p>from: {{ item.platform }}</p>
      <p>left</p>
    </nb-card-body>

    <nb-card-footer>
      <button nbButton ghost status="danger">
        <nb-icon
          (click)="onClick(item.propertyId)"
          icon="close-outline"
        ></nb-icon>
      </button>
      <button nbButton ghost status="info">
        <nb-icon
          (click)="onClickComplete(item, item.propertyId)"
          icon="checkmark"
        ></nb-icon>
      </button>
    </nb-card-footer>
  </nb-card>
</div>
